body {
  position: relative;
  z-index: -7;
  overflow-x: hidden;
}
.big{
  height: 1500px;
}
.container1 {
  width: 30vw;
  margin-left: 120px;
  margin-top: 160px;
  height: 190px;
  animation: movecontent 3s ease forwards;

}
@keyframes movecontent {
  0%{
    transform: translateX(0px);
  }
  20%{
    opacity: 0.5;
  }
  35%{
    opacity: 0.3;
    transform: translateX(150px);
  }
  40%{
    opacity: 1;
    
  }
  65%{
    
      opacity: 0.5;
      transform: translateX(-200px);
    
  }
  100%{
    transform: translateX(0px);
  }
  
}
.container2 {
  background-color: hsl(0, 0%, 94%);
  z-index: -2;
  position: relative;
  top: 340px;
  height: 520px;
}
.blocks {
  width: 200px;
  margin-right: 18px;
  width: 200px;
}
.blocks2 {
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  margin-right: 18px;
  width: 200px;
}
.links-nav {
  margin-left: 8px;
  margin-right: 8px;
  font-family: Public Sans, sans-serif;
  color: hsl(0, 0%, 60%);
  font-size: medium;
  border-color: rgba(0, 241, 47, 1);

  transition: border 0.15s ease;
  transition: color 0.15s;
}
.links-nav:hover {
  border-bottom-style: solid;
  color: rgb(50, 50, 50);
  border-width: 5px;
  padding-bottom: 16px;
  cursor: pointer;
}
.req-inv,
.req-inv-nav {
  border-style: none;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 32px;
  padding-right: 32px;
  background: linear-gradient(
    90deg,
    rgba(0, 241, 47, 1) 0%,
    rgba(1, 140, 255, 1) 100%,
    rgba(0, 175, 245, 1) 100%
  );

  border-radius: 30px;
  font-family: "Public Sans", sans-serif;
  color: white;
  font-weight: 500;
  transition: color 0.5s;
}
.req-inv:hover, .req-inv-nav:hover {
  opacity: 0.5;
  cursor: pointer;
}
.social {
  margin-right: 8px;
  transition: all 0.15s;
}
.social:hover {
  cursor: pointer;
  filter: grayscale(100%) brightness(80%) sepia(300%) hue-rotate(85deg)
    saturate(500%);
}
.bottom-links {
  margin-top: 16px;
  font-family: public sans, arial;
  font-weight: 300;
  font-size: 13px;
  color: gainsboro;
  transition: all 0.15s;
}
.bottom-links:hover {
  cursor: pointer;
  color: rgb(109, 198, 162);
}
.heading1 {
  color: hsl(0, 0%, 35%);
  font-family: Public Sans, sans-serif;
  font-size: 38px;
  font-weight: 300;
  margin-bottom: 20px;
  transition: all 0.15s;
}
.heading1:hover {
  cursor: pointer;
  color: rgb(109, 198, 162);
}
.heading {
  color: hsl(0, 0%, 35%);
  font-family: Public Sans, sans-serif;
  font-size: 38px;
  font-weight: 300;
  margin-bottom: 20px;
}
.description {
  color: hsl(227, 4%, 61%);
  font-family: Public Sans, sans-serif;
  font-size: small;
  font-weight: 300;
  line-height: 22px;
}
.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  height: 60px;
  min-width: 760px;
  align-items: center;
  min-width: 930px;
  cursor: default;
}
.hamburger-menu {
  position: absolute;
  display: none;
  top: 25px;
  right: 25px;
}
.logo {
  margin-left: 120px;
}
.bgcontain {
  position: relative;
  top: -265px;
  left: 42%;
}
.bg1 {
  position: absolute;
  z-index: -1;
  top: 140px;
  left: 12%;
}
.footer{
  background-color: rgb(45, 49, 78);
  position: relative;
  top: 400px;
  color: white;
  display: flex;
  justify-content: space-between;
  min-width: 800px;
  height: 200px;
  margin-top: 20px;
  cursor: default;
}
.bg2 {
  position: absolute;
  z-index: -20;
}
.sc1 {
  margin-left: 120px;
  min-width: fit-content;
  padding-top: 30px;
}
.footbuttoncont{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 120px;
  
}
.list {
  display: flex;
}
.footlinks{
  display: flex; flex-direction: column; justify-content: center
}
.moblink{
  font-family: public sans,arial;
  cursor: pointer;
  margin: 8px;
  font-size: large;
  color: rgb(94, 94, 94);
}
.mobnav{
  background-color: white;
display: none;
flex-direction: column;
position: absolute;
align-items: center;
top: 70px;
margin-left: 8%;
border-radius: 7px;
width: 340px;
}
.news{
  margin-left: 120px; min-width: fit-content; padding-top: 30px;
        
}
@media (max-width: 950px){
  
.logo{
  margin-left: 50px;
}

}

@media (max-width:510px) {
  .news{
    margin-left: 0px;
  }
  .list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .list2 {
    flex-direction: column;
  }
  .blocks2 {
    width: 80vw;
    margin-left: 10vw;
    
    margin-bottom: 30px;
  }

  .req-inv-nav {
    display: none;
  }
  .navbar {
    width: 100vw;
  }
  body {
    overflow-x: hidden;
  }
  .bgcontain {
    position: relative;
    top: -350px;
    left: -75%;
  }

  .hamburger-menu {
    display: flex;
    cursor: pointer;
  }
  .hamburger-menu:hover{
    opacity: 0.4;
    transition: all 0.15s;
  }
  .moblink:hover{
    opacity: 0.5;
    transition: all 0.15s;
  }
  .links-nav {
    display: none;
  }
  .bg1 {
    position: absolute;
    left: 100px;
  }
 
  .big{
    width: 100vw;
   overflow: hidden;
   height: 4980px;
  }
  .logo {
    margin-left: 30px;
  }
  .container1 {
    width: 100vw;
    margin: 0%;
    margin-top: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container2 {
    top: 200px;
    height: 1150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blocks {
    width: 300px;
  }

  .sc1 {
    margin: 0%;
  }

  .abc {
    display: flex;
    flex-direction: column;
    width: 350px;
   
  }
  .footer{
    flex-direction: column;
    height: 590px;
    justify-content: center;
    

  }
  .footlinks{
    margin-left: 20%;
    
  }
  .bottom-links{
    font-weight: 700;
    font-size: large;
  }
  .xyz{
    margin-left: 10%;
  }
  .footbuttoncont{
    margin-top: 70px;
    align-items: center;
    margin-left: -32%;
  }
  
}